*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
}
.menu{
    background: #99f;
    color: #000;
    height: 90px;

}
.menu__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1300px;
    height: 100%;
    margin: 0 auto;
}
.menu__links{
    height: 100%;
    transition: transform .5s;
    display: flex;
}
.menu__items{
    list-style: none;
    position: relative;
    height: 100%;
    
    --clip:polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg) ;

}
.menu__items:hover{
    --clip:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0) ;
}
.menu__link{
    color: #000;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
}
/* .menu__link:hover{
    background: #5fe;
} */
#arrows{
    transform: var(--transform);
    transition: transform .3s;
    padding-left: 5px;
}
.menu__nesting{
    list-style: none;
    transition: clip-path .3s;
    clip-path: var(--clip);
    background: #99f;
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
   
}
/* .menu__inside{
    padding-top:10px;
    border-bottom: 2px solid #000;
} */
.menu__link-inside{
    padding: 15px 50px 15px 10px;
}
.menu__link-inside:hover{
    background: #262626;
}
/*menu-btn*/
.menu-btn{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}
.menu-btn i{
    display: block;
    width: 36px;
}

/* inicio*/

.inicio{
    display: flex;
    width: 100% ;
}
.inicio__publicidad{
    width: 30%;
    padding-top: 40px;
}
.inicio__publicidad p{
    box-shadow: #000;
    background-color: antiquewhite;
    margin: 25px ;
}

.slider{
    width: 70%;
    margin: auto;
    padding-top: 40px;
    overflow: hidden;
}
.slider ul{
    display: flex;
    width: 400%;
    animation: cambio 20s infinite alternate;
    
}
.slider li{
    width: 100%;
    list-style: none;
}

.slider img{
    width: 100%;
    height: 450px;
}
@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
    
/* los porcentajes del 300 200 etc es asi xq le dimos un width de 400%*/
}
/*footer*/
.pie{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-top: 70px;
    background: #99f;
    margin-top: 50px;
}
.pie__redes{
    margin: 0 10px;
    list-style: none;
    text-align: center;

}
.pie__redes ul.redes__sociales{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 20px;
    font-size: 35px;

    
}
.pie__redes ul.redes__sociales li{
    padding: 0 10px;
    
}
.pie__redes ul.redes__sociales li i{
    color: #000;
}

.pie__comunicate{
    margin: 0 10px;
    list-style: none;
    text-align: center;

}
.pie__comunicate ul.comunicate__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 20px;
    font-size: 35px;

    
}
.pie__comunicate ul.comunicate__icon li{
    padding: 0 20px;
    
}
.pie__comunicate ul.comunicate__icon li i{
    color: #000;
    
}
.pie__mapa{
    padding-right: 5px;
}
.pie__mapa h3{
    text-align: center;
}
/* pantalon hombre*/
.seccion{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-top: 20px;
   
}
.seccion__productos{
   border: #262626 solid 3px;
   margin: 5px auto;

  
}.seccion__productos img{
    height: 400px;
}
.seccion__productos .precio{
    color:#f00;
}
.seccion__productos p{
    color: #000;
}

/*responsive desig*/
@media(max-width:800px){
    .menu-btn{
        display: flex;
    }
    .menu__items{
        --clip:0;
        overflow: hidden;
    }
    .menu_item--active{
        --transform: rotate(0);
        --background: #f00;
    }
    .menu__items-show{
        background-color: var(--background) ;
    }
    .menu__links{
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 70px;
        bottom: 0;
        right: 0;
        background-color:#000 ;
        overflow-y:auto ;
        display: grid;
        grid-auto-rows: max-content;
        transform: translate(100%);
    }
    .menu__links-show{
        transform: unset;
        width: 100%;
    }
    .menu__link{
        padding: 25px 0;
        padding-left: 30px;
        background: #262626;
        color: #fff;
        height: auto;
    }
    #arrow{
        margin-left: auto;
        margin-right: 20px;
    }
    .menu__nesting{
        display: grid;
        position:unset;
        width: 100%;
        transform: translatey(0);
        height: 0;
        transition: height .3s;
    }
    .menu__link-inside{
        width: 90%;
        margin-left:auto;
        border-left: 1px solid #262626;
    }
    .inicio{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .inicio__publicidad{
       width: 100%;
    }
    .pie{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding-top: 70px;
        background: #99f;
        margin-top: 50px;
    }
    .pie__mapa{
     
        padding-left: 40px;
    }
}

